<mat-toolbar class="header mat-elevation z8">
    <span> 
        <a href="">
            <img src="assets/img/logo.png" class="logo">
        </a>
    </span>
    <span class="nav"> 
        <a href="">
            Início
        </a>
    </span>
    <span class="nav"> 
        <a mat-list-item routerLink="/projetos">
           Projetos 
        </a>
    </span>
    <span class="nav"> 
        <a mat-list-item routerLink="/sobremim">
           Sobre mim
        </a>
    </span>
    <span class="nav"> 
        <a mat-list-item routerLink="/contato">
           Contato
        </a>
    </span>
</mat-toolbar>
