<main class="main">
    <!-- <section> -->
<div class="section2">    
    <div class="content1">     
        <div>
            <h1 class="Fonte5">Exclusivo</h1>
        </div>
        <div >
            <a class="link" routerLink="/projetos">
                <h1 class="Fonte3">PORTFÓLIO</h1>
            </a>
        </div>
        <div>
            <h1 class="Fonte4">De páginas e Aplicações</h1>
        </div>
        <div>
            <h1 class="Fonte2">WEB</h1>
        </div>
        <div>
            <h1 class="last">Espero que goste!</h1>
        </div>
        <div>
            <i class="material-icons last">
                thumb_up
            </i>
        </div>
    </div>
</div>
<!-- </section> -->
</main>