.content1 {
    text-align: center;
    font-size:large;
    color:#fff  
}
.imagem{
    text-align: center;
}
.titulo2{
    text-align: center;
    
}
.section2 {
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
    width:550px;
    margin:auto;
    margin-top: 60px;         
    margin-bottom: 60px;
    
}
.Fonte1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 2.1em;
 
    
}
.Fonte2{
    font-size: 60px;
    margin-bottom: 50px;
    font-family:fantasy;
    text-shadow: 0.1em 0.1em 0.4em black;
    font-weight: 700;

    
    
}
.Fonte3{
    font-family:fantasy;
    padding: 10px;
    font-size: clamp(2em, 2.5em + 3vw, 7em) ;
    text-shadow: 0.1em 0.1em 0.4em black;
    font-weight: 700;
}
.Fonte4 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 2.1em;
    padding: 20px;
    font-style: italic;
    color:#d3a0fe;
    text-shadow: 0.1em 0.1em 0.2em black;

    
}
.Fonte5 {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    padding-bottom: 20px;    


}
.material-icons {
    font-size: 55px;
    text-shadow: 0.1em 0.1em 0.2em black;
    color:#d3a0fe;


}
.link {
    text-decoration:none;
    color: #fff
}
.text {
    margin-top: 35px;
}
.last{
        text-shadow: 0.1em 0.1em 0.2em black;

}