<main class="main">
<section>
    <div class="content1">
        <h1>Bem vindo ao meu portfólio!</h1>        
    </div>
    <div>
        Esta página web tem como objetivo armazenar e organizar todos os projetos feitos por mim,
        afim de mostrar minha evolução como desenvolvedor Front End e também servir como portfólio.
    </div>
    <div class="titulo2">
        <h1>Confira:</h1>
    </div>
    <div class="imagem">
        <a mat-list-item routerLink="/projetos">
            <img src="/assets/img/projetos1.png" alt="">
        </a>
    </div>
    
</section>
</main>