<main class="main">
<section>
    <div class="content1">
        <h1>Um pouco sobre mim</h1>        
    </div>
    <div class="foto">
        <img src="/assets/img/foto.png">
    </div>
    <div class="texto">
        Prazer, me chamo Simon! <br>
        <br>
          Sou Engenheiro de Dados e Dev. Amo criar coisas novas e usar a criatividade para encontrar soluções, gosto da sensação de vencer obstáculos!
        Sou autodidata, e posso afirmar que esta é uma característica muito importante para o profissional da tecnologia pois, este segmento em constantemente transformação exige que o profissional se mantenha sempre atualizado sobre novas técnicas e tecnologias do mercado.<br>
	    Atualmente atuo como engenheiro de dados em uma multinacional do ramo de telecomunicações como terceiro. Sou responsável pelo Desenvolvimento, manutenção e melhoria de processos de integração e fluxo de dados, utilizando conceitos de ETL e scripting para automatização de processos.
        Meus conhecimentos:<br>
        <br>
        SQL Server, MySQL, Visual Studio (SSIS), Python, Power BI, Excel, Modelagem de dados, Angular 12, React, TypeScript, HTML5 & CSS3

    </div>
</section>
</main>
