<main class="main">
    <section>
        <div class="content1">
            <h1>Contatos</h1>        
        </div>
        <div>
            <a href="https://github.com/Simon-Henrique" class="link" target="_blank"><i class="material-icons">group</i>
                Perfil GitHub
                     
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/simon-hs" class="link" target="_blank"><i class="material-icons">work</i>
                Perfil Linkedin              
            </a>
        </div>
        <div>
            <i class="material-icons">email</i>
                Email: mind.traveler@hotmail.com    
        </div>
    </section>
</main>