<main class="main">
    
    <section>
        <div class="content1">
            <h1>Pokedex</h1>        
        </div>        
        <div>
            <a href="https://simon-pokedex.netlify.app/" target="_blank">
                <img src="/assets/img/pokedex1.png"class="imagem">
            </a>
        </div>
        <div>
            Projeto de uma pokedex utilizando as tecnologias relacionadas ao angular: HTML5, SASS, JavaScript, TypeScript e Angular. Esta aplicação gera, de forma dinâmica e responsiva, os cards de cada pokemon através de uma lista de objetos, esta lista de objetos é obtida através do RESTful pokemon API.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Lista de Tarefas</h1>        
        </div>        
        <div>
            <a href="https://simon-task.netlify.app/" target="_blank">
                <img src="/assets/img/task1.png"class="imagem">
            </a>
        </div>
        <div>
            Lista de tarefas feita em angular, javascript, typescript,html e scss. Este projeto também utiliza 
            o conceito de CRUD, entretanto, dessa vez mais modularizado, de forma que cada regra de negócio está em
             um módulo individual. Esta aplicação consome uma API elaborada especificamente para este estudo que serve como back-end.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Sistema CRUD</h1>        
        </div>        
        <div>
            <a href="https://simon-crud.netlify.app/" target="_blank">
                <img src="/assets/img/crud1.png"class="imagem">
            </a>            
        </div>
        <div>
            Uma aplicação de um cadastro feita em angular, com o conceito CRUD. Este projeto faz uso dos principais recursos do angular como observables, diretivas, services, rotas, propert binding, pipes etc. Esta aplicação frontend também faz interação com um backend simples, 
            feito através de um json server de forma que o angular possa consumir uma API.
        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Cálculo IMC</h1>        
        </div>
        <div>
            <a href="https://simon-imc.netlify.app/" target="_blank">
                <img src="/assets/img/imc1.png"class="imagem">
            </a>
        </div>
        <div>
            Este projeto foi desenvolvido com javascript puro, possui validações de dados, o calculo IMC em sí, e condicionais simples para respostas correspondente a cada range de peso.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Analisador de Números</h1>        
        </div>
        <div>
            <a href="https://simon-analyse-number.netlify.app/" target="_blank">
                <img src="/assets/img/analiseNumber.png"class="imagem">
            </a>
        </div>
        <div>
            Este projeto foi desenvolvido com javascript puro, possui validação para receber apenas números de 1 à 100 e que ainda não foram inclusos na variável, ao finalizar a aplicação realiza cálculos utilizando os dados números inputados pelo usuário.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Verificador de idade</h1>        
        </div>
        <div>
            <a href="https://verificador-idade-simon.netlify.app/" target="_blank">
                <img src="/assets/img/idade1.png"class="imagem">
            </a>
        </div>
        <div>
            Projeto feito em angular onde é considerado em uma variável a data atual (do sistema) e a data de nascimento preenchida pelo usuário e é feito o cálculo da idade atual. Possui validação e condicionais.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Cronômetro</h1>        
        </div>
        <div>
            <a href="https://cronometro-simon.netlify.app/" target="_blank">
                <img src="/assets/img/cronometro1.png"class="imagem">
            </a>
        </div>
        <div>
            Cronômetro simples elaborado a partir do método setInterval() do JS.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Bom dia!</h1>        
        </div>
        <div>
            <a href="https://bom-dia-simon.netlify.app/" target="_blank">
                <img src="/assets/img/bdia1.png"class="imagem">
            </a>
        </div>
        <div>
            Sistema capaz de identificar o horário atual do sistema através do recurso JS getHours() e através de condicionais simples, a página retorna resultados visuais conforme horário.

        </div>
    </section>
</main>