<main class="main">
    <section>
        <div class="content1">
            <h1>Sistema Cadastro Python</h1>        
        </div>        
        <div>
            <a href="https://github.com/Simon-Henrique/cotacao_moeda_python" target="_blank">
                <img src="/assets/img/pyodb_plus_tkinter1.png"class="imagem">
            </a>
        </div>
        <div>
            Sistema feito em python que, com uma interface gráfica amigável e intuitiva, é capaz de registrar os inputs feito pelo usuário em um banco de dados, no exemplo, foi utilizado o SQL Server. Esse conceito pode ser aplicado a uma infinidade de soluções. Utiliza os pacotes tkinter, pyodbc.        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Cotação de Moedas</h1>        
        </div>        
        <div>
            <a href="https://github.com/Simon-Henrique/cotacao_moeda_python" target="_blank">
                <img src="/assets/img/cotacao1.png"class="imagem">
            </a>
        </div>
        <div>
            Uma aplicação feita em python que consome uma API com os valores atualizados das principais moedas atualizadas a cada 30 segundos. Essa aplicação importa 3 pacotes, tkinter (interface_gráfica), pillow(manipulação de imagem) e requests(requisição get).
        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Catalogo de jogos</h1>        
        </div>        
        <div>
            <a href="https://game-catalog.netlify.app/" target="_blank">
                <img src="/assets/img/gamesproject1.png"class="imagem">
            </a>
        </div>
        <div>
            Este é um desafio batido!
            O desafio pedia para criar um catálogo de jogos. O usuário pode preencher o catálogo a partir de um formulário e ver os jogos que já estão preenchidos. Além disso, o usuário pode pesquisar um jogo e filtrar a lista. Este projeto foi feito usando angular, typescript, javascript, html, css. Este projeto consome dados de uma API, a versão final está usando um backend hospedado no supabase.
        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Covid Cases</h1>        
        </div>        
        <div>
            <a href="https://world-covid-cases.netlify.app/" target="_blank">
                <img src="/assets/img/covid1.png"class="imagem">
            </a>
        </div>
        <div>
            Projeto com origem de um desafio, tem como objetivo apresentar os casos de covid pelo mundo e suas variantes através de um mapa mundi. Projeto elaborado com Angular 12, também faz uso da lib amChart 5 para a renderização do mapa, os dados são consumidos através de uma API rest hospedada no supabase.
            Banco de dados pode ficar em standby periodicamente.
        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Fundamentos de React</h1>        
        </div>        
        <div>
            <a href="https://react-fundamentos.netlify.app/" target="_blank">
                <img src="/assets/img/react1.png"class="imagem">
            </a>
        </div>
        <div>
            Projeto que apresenta através de cards, a resolução de pequenos desafios utilizando conceitos básicos de React
        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Pokedex</h1>        
        </div>        
        <div>
            <a href="https://simon-pokedex.netlify.app/" target="_blank">
                <img src="/assets/img/pokedex1.png"class="imagem">
            </a>
        </div>
        <div>
            Projeto de uma pokedex utilizando as tecnologias relacionadas ao angular: HTML5, SASS, JavaScript, TypeScript e Angular. Esta aplicação gera, de forma dinâmica e responsiva, os cards de cada pokemon através de uma lista de objetos, esta lista de objetos é obtida através do RESTful pokemon API.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Lista de Tarefas</h1>        
        </div>        
        <div>
            <a href="https://simon-task.netlify.app/" target="_blank">
                <img src="/assets/img/task1.png"class="imagem">
            </a>
        </div>
        <div>
            Lista de tarefas feita em angular, javascript, typescript,html e scss. Este projeto também utiliza 
            o conceito de CRUD, entretanto, dessa vez mais modularizado, de forma que cada regra de negócio está em
             um módulo individual. Esta aplicação consome uma API elaborada especificamente para este estudo que serve como back-end.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Sistema CRUD</h1>        
        </div>        
        <div>
            <a href="https://simon-crud.netlify.app/" target="_blank">
                <img src="/assets/img/crud1.png"class="imagem">
            </a>            
        </div>
        <div>
            Uma aplicação de um cadastro feita em angular, com o conceito CRUD. Este projeto faz uso dos principais recursos do angular como observables, diretivas, services, rotas, propert binding, pipes etc. Esta aplicação frontend também faz interação com um backend simples, 
            feito através de um json server de forma que o angular possa consumir uma API.
        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Cálculo IMC</h1>        
        </div>
        <div>
            <a href="https://simon-imc.netlify.app/" target="_blank">
                <img src="/assets/img/imc1.png"class="imagem">
            </a>
        </div>
        <div>
            Este projeto foi desenvolvido com javascript puro, possui validações de dados, o calculo IMC em sí, e condicionais simples para respostas correspondente a cada range de peso.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Analisador de Números</h1>        
        </div>
        <div>
            <a href="https://simon-analyse-number.netlify.app/" target="_blank">
                <img src="/assets/img/analiseNumber.png"class="imagem">
            </a>
        </div>
        <div>
            Este projeto foi desenvolvido com javascript puro, possui validação para receber apenas números de 1 à 100 e que ainda não foram inclusos na variável, ao finalizar a aplicação realiza cálculos utilizando os dados números inputados pelo usuário.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Verificador de idade</h1>        
        </div>
        <div>
            <a href="https://verificador-idade-simon.netlify.app/" target="_blank">
                <img src="/assets/img/idade1.png"class="imagem">
            </a>
        </div>
        <div>
            Projeto feito em javascript onde é considerado em uma variável a data atual (do sistema) e a data de nascimento preenchida pelo usuário e é feito o cálculo da idade atual. Possui validação e condicionais.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Cronômetro</h1>        
        </div>
        <div>
            <a href="https://cronometro-simon.netlify.app/" target="_blank">
                <img src="/assets/img/cronometro1.png"class="imagem">
            </a>
        </div>
        <div>
            Cronômetro simples elaborado a partir do método setInterval() do JS.

        </div>
    </section>
    <section>
        <div class="content1">
            <h1>Bom dia!</h1>        
        </div>
        <div>
            <a href="https://bom-dia-simon.netlify.app/" target="_blank">
                <img src="/assets/img/bdia1.png"class="imagem">
            </a>
        </div>
        <div>
            Sistema capaz de identificar o horário atual do sistema através do recurso JS getHours() e através de condicionais simples, a página retorna resultados visuais conforme horário.

        </div>
    </section>
</main>